.dashboard {
    width: 80%;
    max-width: 1000px;
    min-width: 700px;
    height: 85vh;
    min-height: 50vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ececec;

    h1 {
        line-height: 100px;
        font-size: 2.5em;
        font-weight: bold;
        color: white;
        width: 100%;
        background-color: #363636;
        height: 100px;

        margin: 0;
    }
    &--select {
        width: 150px;
        height: 50px;
        font-size: 1.5em;
        align-self: flex-start;
        margin-left: 20px;
        border: 1px solid #999999;
        padding-left: 15px;
    }

    & > * {
        margin-top: 15px;
    }
}
