.App {
    text-align: center;
    background-color: #1a1a1a;
}

main {
    background-color: #1a1a1a;
    min-height: calc(100vh - 100px);
    width: 100vw;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}
